@charset "UTF-8";

/* 回答はここに書いてね */

.total_box {
  width: 500px;
  height: 500px;
  background-color: #ECF1F2;
  position: relative;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
}

.one {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
}

.two {
  background-color: #7084de;
  top: 120px;
  right: 120px;
  z-index: 1;
}

.three {
  background-color: #d0ecea;
  top: 200px;
  right: 40px;
  z-index: 2;
}

.four {
  background-color: #8b7a5e;
  bottom: 120px;
  right: 120px;
  z-index: 3;
}

.five {
  background-color: #9fd6d2;
  bottom: 40px;
  left: 200px;
  z-index: 4;
}

.six {
  background-color: #fffee4;
  bottom: 120px;
  left: 120px;
  z-index: 5;
}

.seven {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 6;
}

.eight {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 7;
}

.eight::before {
  background-color: #ffefd3;
  content: "";
  left: 80px;
  height: 20px;
  width: 20px;
  z-index: 8;
  position: absolute;
}

.nine {
  background-color: #2b69a3;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px 10px;
}

/* 回答はここに書いてね */