@charset "UTF-8";

.wrapper_box {
  background-color: #eff3f4;
  width: 900px;
  padding: 20px;
  margin: 0 auto;
}

.panel_left { 
  float: left;
}

.text-box {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.panel_right {
  float: right;
}

/* 回答はここに書いてね */

/* 回答はここに書いてね */
